:root {
  --bg-color: #1e1e1e;
  --typewriterSpeed: 2s;
  --typewriterCharacters: 24;
  color: white;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  background: var(--bg-color);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  font-family: "Source Code Pro", monospace;
  position: relative;
  width: max-content;
  color: white;
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

h1::after {
  width: 0.125em;
  background: white;
  animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

.button {
  display: inline-block;
  align-items: center;
  background-color: #0059fd;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\2192";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

img {
  filter: drop-shadow(0.5rem 0.5rem 0.5rem #000000);
  float: center;
  margin: 15px;
  transition: margin 0.3s ease-out;
}

img:hover {
  margin-top: 2px;
}

.hover_effect {
  height: 25%;
  width: auto;
}

.hover_effect:hover {
  height: 100%;
  width: auto;
}

.subtitle {
  color: white;
  font-size: 2rem;
  font-weight: 400;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

.wrapper {
  width: 100%;
  margin: 40px auto;
}

div.gallery {
  margin-top: 30px;
}

div.gallery ul {
  list-style-type: none;
  margin-left: 35px;
}

div.gallery ul li,
div.gallery li img {
  width: 100%;
  transition: all 0.1 ease-in-out;
}

div.gallery ul li {
  position: relative;
  float: left;
  width: 300px;
  height: 300px;
  margin: 15px;
  margin-bottom: 150px;
  padding: 5px;
  z-index: 0;
}

div.gallery ul li:hover {
  z-index: 5;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0;
}

.gallery_img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#link {
  position: flex;
  bottom: 2em;
  width: 100%;
  color: white;
}

#link:hover,
#link:focus {
  color: #007acc;
}
.image {
  display: flex;
  justify-content: center;
}
